* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/*hero text*/
span {
    opacity: 0;
    transition: all 0.3s ease; /* SETS THE DURATION TO 0.5 SECONDS AND EASE IN*/
}

span.fade{
    opacity: 1;
}

/* hero image */
.hero-image {
    background-image: url("images/secret-3120483_1920.jpg");
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
  }

#hero-heading{
    color: rgb(255, 255, 255);
    font-size:4rem;
}

.hero-text{
    color: rgb(255,255,255);
    text-align: center;
    padding-top:40vh;
}
